.header-item.announcement{
    background-color: white;
    padding: 0;
    width: 100%;
}

.header-item.announcement > .top-bar{
    background-color: white;
    border-bottom: 1px solid lightgrey;
    max-width: 1400px;
    font-size: 0.9rem;
    text-align: left;
    margin: auto;
    padding: 0.4rem;
}

.header-item.announcement > .announcement-message{
    width: 100%;
    font-size: 1.1rem;
    text-align: center;
    margin: auto;
    padding: 0.4rem;
    background-color: #616161;
}