#site-navigation #site-title{
    visibility: hidden;
    min-height: 7rem;
    width: 100%;
}

#site-navigation #site-title h5{
    position: absolute;
    bottom: 6px;
}

#site-navigation form {
    padding-top: 0;
}
