#main-content p {
    text-align: justify;
}

.troubleshooting-card ul {
    padding: 0;
}

:root {
    --pst-font-size-h1: 34px;
    --pst-font-size-h2: 26px;
    --pst-font-size-h3: 22px;
    --pst-font-size-h4: 18px;
    --pst-font-size-h5: 18px;
    --pst-font-size-h6: 18px;
}
